.list-container {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 2rem 1rem;
    background-color: var(--stone-color);
    border-radius: var(--border-radius);
}

.list-container::-webkit-scrollbar {
    height: 3px;
}

.list-container::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
}

.placeholder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.placeholder img {
    width: 12%;
}

.placeholder__text {
    text-align: center;
    line-height: 10px;
    color: var(--white-color);
}
