.task__title {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 10px;
}

.task__description {
    font-size: 1rem;
}

span {
    font-weight: bolder;
}

.heading {
    text-align: center;
}

.centered-wrapper {
    width: 500px;
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid var(--gray);
    border-radius: var(--border-radius);
}

.pt {
    padding-top: 100px;
}

.breadcrumb {
    font-weight: 800;
}

#arrow-left {
    vertical-align: middle;
    margin-right: 0.5rem;
}
